@keyframes wrong {
    0%{
        transform: scaleX(2);
    }
    25%{
        transform: scaleX(0);
    }
    100%{
        
        transform: scaleX(2);
    }
}


.wrong{
    animation-name: wrong;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
